* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 1px solid;
}

.Background {
    background-color: black;
}

.Container {
    width: 1450px;
    margin: 0 auto;
}

i{
    font-size: 20px;
    
}
h1 {
    color: blueviolet;
    align-items: center;
}